.header {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  color: #000;
  position: relative;
  flex-wrap: wrap;
}
.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  max-width: 729px;
  font-weight: 500;
  z-index: 2;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #3f96f3;
}

.header__image {
  position: absolute;
  top: 124px;
  right: -5px;
  width: 646px;
  height: 568px;
  align-self: flex-end;
  z-index: 1;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  max-width: 683px;
  position: relative;
  z-index: 2;
}

.header__paragraph {
  margin: 0;
}

.header__footer {
  color: #6f6f6f;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: flex-end;
  font-weight: 500;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
