.menu {
background-color: #fff;
background-image: url(../images/background_menu.svg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 100px 0;
}

.menu__title {
margin: 0 auto 24px;
max-width: 780px;
font-family:"Inter", Arial, sans-serif;
font-weight: 500;
font-size: 44px;
line-height: 52px;
text-align: center;
}

.menu__subtitle {
margin: 0 auto 100px;
max-width: 780px;
font-family: "Noto serif", "Times New Roman", serif;
font-size: 20px;
line-height: 30px;
text-align: center;
}

.menu__cards {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 0;
margin: 0 auto;
list-style-type: none;
gap: 100px;
}

.menu__card {
width: 540px;
}

.menu__card-title {
font-family:"Inter", Arial, sans-serif;
font-weight: bold;
font-size: 20px;
line-height: 30px;
margin: 0 0 32px;
}

.menu__card-list {
display: flex;
flex-direction: column;
padding: 0;
margin: 0;
list-style-type: none;
}

.menu__card-list-item {
display: flex;
margin-bottom: 16px;
font-family:"Noto serif", "Times New Roman", serif;
font-size: 16px;
line-height:20px;
}

.menu__card-list-divider {
margin: 0 8px;
border-bottom: 1px solid black;
flex-grow: 1;
}