.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display:flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  color: #000;
  position: relative;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  max-width: 729px;
  font-weight: 500;
  }

.header__image {
  position: absolute;
  top:124px;
  right: -5px;
  width: 646px;
  height: 568px;
  align-self: flex-end;
}

.header__span-accent {
    display: block;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
    color: #3F96F3;
  }

.header__description {
    font-family: "Noto Serif", "Times New Roman", serif;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0;
    max-width: 683px;
  }

.header__footer {
    color: #6f6f6f;
    display:flex;
    justify-content: space-between;
    margin-top: auto;
    align-items: flex-end;
    font-weight: 500;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

.header__paragraph{
    margin: 0;
  }

.nav {
display: flex;
justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
}

.nav__links {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap:20px;
  padding:0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.recipes {
  margin:0;
  padding:100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  color: #fff;
  background-color: #0A2750;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
font-family: "Inter", Arial, sans-serif;
font-weight: 500;
margin: 0 0 24px;
max-width: 580px;
font-size: 44px;
line-height: 52px;
}

.recipes__subtitle {
margin: 0 0 80px;
max-width: 438px;
font-family: "Noto serif", "Times New Roman", serif;
font-size: 20px;
line-height: 30px;
}

.recipes__videos {
list-style-type: none;
display:flex;
justify-content: center;
gap: 40px;
}

.recipes__iframe {
height: 315px;
width: 560px;
border: none;
}

.recipes__video_caption {
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.reservation {
  padding: 100px 0 120px;
  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;

}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form form {
font-family: "Inter", Arial, sans-serif;
margin: 0 auto;
max-width: 385px;
}

.form {
max-width: 385px;
}

.reservation__fieldset{
margin:0;
padding:0;
border: none;
box-shadow: none;
}

.reservation__input {
display: block;
font-family: "Inter", Arial, sans-serif;
width: 100%;
box-sizing: border-box;
padding: 15px 20px;
margin: 8px 0 32px;
border: 1px solid #838383;
font-size: 20px;
line-height: 30px;
color: #000;
}

.reservation__input::placeholder {
  color: #838383;
}

.reservation__button {
  color: #fff;
  font-family:"Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #1878dc;
  width: 100%;
  border: none;
  padding: 20px 0;
  border-radius: 4px;
  margin-bottom: 32px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
.reservation__button:hover {
background-color:#3f96f3;
}

.reservation__checkbox {
font-family:"Inter", Arial, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 20px;
border-radius:2px;
width: 20px;
height: 20px;
}

.reservation__label_type_checkbox {
display: flex;
gap: 12px;
justify-content: center;
}

